/* for smaller phones */
@media only screen and (max-width : 290px){
	.navbar-brand{
		display: none;
	}
	.navbarname{
		padding-left: 10px;
		text-transform: uppercase;
		font-size: 1.1em;
	}
	/*dropdown content*/
	.dropdown-content{
		padding:5px 5px 5px 20px;
	}
}
/* for mart phones */
@media only screen and (max-width : 320px){
	.dropdown-content{
		position: relative;	
		padding:5px 5px 5px 20px;
	}
.center-block{
	width: 100%;
}
.app-centralize{
	padding: 0;
	margin: 0;
}
.refresh{
	padding: 3px 5px 3px 3px;
}
input{width:100%;}
select{width:100%;
	margin-top:10px;
}
.convertButtonClass{
	width:100%;
	display:block;
	}
.converted-user-output{
	margin:0;
	width:100%;
	margin-bottom:10px;
}
.footer-section{
	width:100%;
}
.author{
	width:100%;
	margin: 0 22px 0 22px;
	display: block;
}
.sponsors{
	width: 100%;
	margin: 0 22px 0 22px;
	display: block;
}
.author{
	margin: 20px;
}
.sponsors{
	margin: 20px;
}

 
}

@media only screen and (min-width: 300px) and (max-width : 479px){
	.dropdown-content{
		position: relative;	
		padding:5px 5px 5px 20px;
	}
	.center-block{
		width: 100%;
	}
	.app-centralize{
		padding: 0;
		margin: 0;
	}
	.refresh{
		padding: 3px 5px 3px 3px;
	}
input{width:100%;}
select{width:100%;
	margin-top:10px;
}
.convertButtonClass{
	width:100%;
	display:block;
	}
.converted-user-output{
	margin:0;
	width:100%;
	margin-bottom:10px;
}
.footer-section{
	width:100%;
}
.author{
	width: 100%;
	text-align: center;
}
.sponsors{
	width: 100%;
	text-align: center;
}

	
}
@media only screen and (max-width : 764px) and (min-width: 479px){
	.dropdown-content{
		position: relative;
		padding:5px 5px 5px 20px;	
	}
}
@media only screen and (max-width : 767px) and (min-width: 479px){
	.dropdown-content{
		position: relative;	
	}
	.center-block{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.app-centralize{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.refresh{
		padding: 3px 5px 3px 3px;
	}
input{width:100%;}
select{width:100%;
	margin-top:10px;
}
.convertButtonClass{
	width:100%;
	display:block;
	}
.converted-user-output{
	margin:0;
	width:100%;
	margin-bottom:10px;
}
.footer-section{
	width:100%;
}
.author{
	width: 50%;
	float: left;
}
.sponsors{
	width: 50%;
	float: right;
}

}

@media only screen and (max-width : 832px) and (min-width: 768px){
	.dropdown-content{
		margin-left: -100px;	
	}
}
@media only screen and (max-width : 932px) and (min-width: 833px){
	.dropdown-content{
		margin-left: -70px;	
	}
}

@media only screen and (max-width : 932px) and (min-width: 768px){
	.dropdown-content{
		padding:5px 5px 5px 20px;	
	}
	.footer-section{
		width:60%;
	}
	.author{
		width:50%;
		margin-top:5px;
	}
	.sponsors{
		width: 50%;
		margin-top:5px;
	}

}
/* for laptops and desktops 
@media only screen and (min-device-width : 1000px){
}*/